.wrapper {
    background: rgb(175, 175, 175);
    background-image: url('http://paperlief.com/images/jurassic-park-wallpaper-1.jpg');
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  }